*{
    margin: 0;
    padding: 0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: azure;
    scroll-behavior: smooth;
    

}
.container{
    width: 100%;
    height: 80vh;
    
    background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.2)), url('./christopher-ruel-cvw75oY6Mjc-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 90%;

}
.nav{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    height: 20vh;
}
.search input{
    height: 40px;
    width: 20vw;
    border: none;
    padding-left: 10px;
    margin-right: 10px;
    background-color: azure;
    border-radius: 20px;
    color: black;
    font-size: 15px;
}
.links a{
    text-decoration: none;
    font-size: 20px;
    margin-left: 15px;
}
.links a:hover{
    text-decoration: underline;
    

}
.main p{
    font-size: 70px;
}
.main{
    text-align: center;
    font-weight: 800;
}
.main button{
    margin-top: 5vh;
    border: 1px solid black;
    background-color: rgb(21, 139, 0);
    color: azure;
    height: 40px;
    width: 150px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 900;
    
}
.container2{
    width: 100%;
    height: 80vh;
    background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.2)), url('./natalya-zaritskaya-SIOdjcYotms-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 90%;
}
.gap{
    width: 100%;
    height: 30vh;
    background: azure;
    text-align: center;
    padding-top: 5%;
    
    
    
}
.find{
    display: flex;
    justify-content: space-around;
}
.find button{
    margin-top: 12px;
    margin-left: 20px;
    width: 10vw;
    height: 45px;
    font-size: 20px;
    font-weight: 900;
    border: none;
    background: black;
    color: azure;
    border-radius: 6px;
}
.gap h1{
    color: black;
    font-weight: 900;
    padding-bottom: 5%;
}

.where h2{
    color: black;
}
.where input{
    border: none;
    padding-left: 10px;
    height: 30px;
    width: 15vw;
    background-color: black;
    color: azure;
    font-weight: 500;
    
}
.text{
    padding-top: 5vh;
    text-align: center;
}
.text h1{
    font-size: 50px;
}
.text h2{
    font-size: 40px;
    margin-bottom: 6vh;
}
.points{
    display: flex;
    justify-content: center;
    margin-bottom: 3vh;
}
.points p{
    margin-left: 1vw;
}
.gap2{
    width: 100%;
    height: 60vh;
    background: azure;
    text-align: center;
    padding-top: 1%;
   
    
}
.gap2 h1{
    color: black;
    font-size: 40px;
    font-weight: 900;
    margin-top: 3vh; 

}
.gap2 h2{
    color: black;
    font-size: 40px;
    font-weight: 500;
    margin-top: 1vh;
}
.sec{
    text-align: left;
}
.sec h2{
    font-size: 25px;
    font-weight: 800;
}
.sec h3{
    font-size: 15px;
    font-weight: 500;
    color: black;

}
.row{
    
    display: flex;
    
}
.row i{
    margin-top: 4vh;
    color: black;
    margin-right: 2vw;
}
.column{
    margin-top: 10vh;
    display: flex;
    justify-content: space-around;
}
.span{
    font-size: 40px;
}
.contain{
    width: 100%;
    height: 60vh;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 90%;
    position: relative;
    background-image:linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0)), url('./wepik-export-20230522203947Jnd6.jpeg');
}
.contain h1{
    color: black;
    font-weight: 900;
    position:absolute;
    left: 45%;
    top: 10%;
    font-size: 50px;
}
.gap3{
    width: 100%;
    height: 20vh;
    
    background-color: azure;
}
.box{
    width: 13%;
    height: 30vh;
    text-align: center;
    padding-top: 5vh;
    background-color:rgb(17, 0, 255);
    position: absolute;
    top: 65%;
    left: 40%;
    border-radius: 10px;
}
.box i{
    margin-bottom: 5vh;
}
.box h3{
    font-size: 22px;
}
.box p{
    background-color: azure;
    height: 5vh;
    padding-bottom: 2px;
    color: rgb(17, 0, 255);
    font-size: 36px;
    font-weight: 900;
}
.box ul li{
    margin-top: 15px;
}
.box2{
    width: 13%;
    height: 30vh;
    text-align: center;
    padding-top: 5vh;
    background-color:rgb(17, 0, 255);
    position: absolute;
    top: 65%;
    left: 60%;
    border-radius: 10px;
}
.box2 i{
    margin-bottom: 5vh;
}
.box2 h3{
    font-size: 22px;
}
.box2 p{
    background-color: azure;
    height: 5vh;
    padding-bottom: 2px;
    color: rgb(17, 0, 255);
    font-size: 36px;
    font-weight: 900;
}
.box2 ul li{
    margin-top: 15px;
}
.box3{
    width: 13%;
    height: 30vh;
    text-align: center;
    padding-top: 5vh;
    background-color:rgb(17, 0, 255);
    position: absolute;
    top: 65%;
    left: 80%;
    border-radius: 10px;
}
.box3 i{
    margin-bottom: 5vh;
}
.box3 h3{
    font-size: 22px;
}
.box3 p{
    background-color: azure;
    height: 5vh;
    padding-bottom: 2px;
    color: rgb(17, 0, 255);
    font-size: 36px;
    font-weight: 900;
}
.box3 ul li{
    margin-top: 15px;
}
@media screen and (max-width: 822px){
  .search{
    display: none;

  }
  .links a{
    margin-left: 25px;
  }
  .main button{
    width: 200px;
    height: 60px;
    border-radius: 15px;
    font-size: 30px;
  }
  .container{
    background-size: cover ;
  }
  .container2{
    background-size: contain;
    height: 46.5vh;
  }
  .sec h3{
    display: none;
  }
  .row{
    margin-bottom: 6vh;
  }
  .contain{
    background-size: contain;
    height: 19.15vh;
  }
  .contain h1{
    top: 3vh;
    left: 40%;
  }
  .gap3{
    height: 40vh;
  }
  .box{
    top: 110%;
    left: 10%;
    width: 20%;
  }
  .box2{
    top: 110%;
    left: 40%;
    width:20%;
  }
  .box3{
    top: 110%;
    left: 70%;
    width: 20%;
  }
 
}
@media screen and (max-width: 415px){
    .links a{
        display: none;
    }
    .nav h1{
        position: absolute;
        left: 28%;
    }
    .container{
        background-size: cover;
    }
   .main p{
    font-size: 35px;
   }
 
   .span{
    font-size: 25px;
   }
   .find{
    position: relative;
   }
   .find button{
    position: absolute;
    top: 150%;
    width: 30%;
   }
   .points{
    display: none;

   }
   .container2{
    height: 30vh;
   }
   .sec{
    display: none;
   }
   .gap2{
    height: 50vh;
   }
   .column{
    margin-top: 4vh;
   }
   .contain{
    height: 30vh;
    background-size: cover;
   }
   .contain h1{
    font-size: 35px;
    left: 13%;
    top: 105%;
   }
 .box{
    top: 150%;
    left: 2%;
    width:25%;
 }
 .box2{
    top: 150%;
    left: 38%;
    width:25%;
 }
 .box3{
    top: 150%;
    left: 73%;
    width:25%;
 }
 .gap3{
    height: 57vh;
 }
 .nav{
    display: block;

 }
.search{
    display: flex;
    position: absolute;
    top: 13%;
    left: 20%;
}
.search input{
    width: 70%;
   
}
.search i{
    margin-top: 20px;
    margin-left: 5px;
}
.box p{
    margin-top: 50px;
}
.box2 p{
    margin-top: 50px;
}
.box3 p{
    margin-top: 50px;
}
.box ul{
    display: none;
}
.box2 ul{
    display: none;
}
.box3 ul{
    display: none;
}

}